extends ../layout

block content

  h3 Startzeit

  form#starttime(method='POST', action='after')
   .row
      input(type="text", size="2", name="hours", value="#{hours}") 
      span :
      input(type="text", size="2", name="minutes" value="#{minutes}")
      span :
      input(type="text", size="2", name="seconds" value="#{seconds}")
      input(type='hidden', name='_csrf', value=_csrf)

    button(id = 'set_race_starttime', type='submit').bigfont.button-primary Startzeit eintragen

