extends ../layout

block content

  h3 Startzeit

  form#payment-details(method='POST', action='after')
   .row
      input(type="text", size="2", name="hour") 
      span :
      input(type="text", size="2", name="minute")
      span :
      input(type="text", size="2", name="seconds")
      input(type='hidden', name='_csrf', value=_csrf)

    button(id = 'set_race_starttime', type='submit').bigfont.button-primary Startzeit eintragen

