.outer-footer-container
  .footer - Lauf gegen Rechts 2016 -
    .contact
      a(href='http://fcstpauli-marathon.de/gegenrechts') fcstpauli-marathon.de/gegenrechts
    .contact
      span
        a(href='mailto:gegenrechts@fcstpauli-marathon.de') Kontakt
      span  |&nbsp;
        a(href='http://www.fcstpauli-marathon.de/impressum.html') Impressum
    .contact
      span.lnr.lnr-rocket
        span.small &nbsp;by:&nbsp;
          a(href='https://github.com/lplotni/pace') pace
      span.small  /  Icons by:&nbsp;
        a(href='https://linearicons.com')
          span.lnr.lnr-linearicons
