meta(name='viewport',content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/stylesheets/css/normalize.css')
link(rel='stylesheet', href='/stylesheets/css/skeleton.css')
link(rel='stylesheet', href='/stylesheets/css/pace.css')
link(rel='stylesheet', href='/stylesheets/css/style.css')
link(rel='stylesheet', href='/DataTables/DataTables-1.10.10/css/jquery.dataTables.min.css')
script(src='/DataTables/jQuery-2.1.4/jquery-2.1.4.min.js')
script(src='/DataTables/DataTables-1.10.10/js/jquery.dataTables.min.js')
script(src='/javascript/activeLink.js')