extends ../layout

block content
    .thanks
        h3 Hey #{name}!
        h5 Das Geld ist bei uns eingegangen.
         |  Du bist jetzt in der Liste freigeschaltet. Wir sehen uns an der Alster.
         |  Viele Gruesse,
         |   LaufGegenRechts
