block content
  .thanks
    h3 Hey #{name}
    div um allzu lange Wartezeiten beim Abholen der Startunterlagen morgens vor dem Lauf zu vermeiden, kannst Du Deine Startunterlagen (und das T-Shirt, wenn bestellt) bereits am
    div
      strong Samstag, den 28.5.2016, 
    span abholen. Da findet am Millerntor das AntiRa-Turnier statt.
    div Ort des LgR-Stands: 
      strong Millerntor-Stadion, Harald-Stender-Platz 1, vor dem Ticketschalter
    div Zeit: 
      strong 10 bis 18 Uhr

    span(style="color:red") 
      strong WICHTIG: 
      span Wir brauchen dazu unbedingt Deine STARTNUMMER, die Du bei der Anmeldung über die Website bekommen hast. Außerdem findest Du sie in der 
        a(href='https://lauf-gegen-rechts.de/participants') Teilnehmer*innen-Liste
    p Die Möglichkeit am Sonntag, den 29.5.2015, von 8 Uhr bis 9.30 Uhr Startunterlagen und Shirts abzuholen, bleibt natürlich bestehen.
    span(style="color:red") 
      strong WICHTIG AUßERDEM: 
      span Wegen der vielen Anmeldungen wird es zwei Starts geben: den ersten um 10 Uhr, den zweiten um 10.20 Uhr. Auf den Startnummern seht Ihr, zu welchem Startblock Ihr gehört
    p Sportliche Grüße,
    p das „Lauf gegen Rechts“-Orga-Team
