block content
  .thanks
   h3 Hey #{name}
   div  Glückwunsch. Deine Zeit war
   strong #{time}
   div Bitte klicke den Link um die Zeit zu bestätigen und in der Ergebnisliste zu erscheinen.
   a(href='https://lauf-gegen-rechts.de/confirmresult/' + token) Ergebnis Bestätigen
  p Sportliche Grüße,
   p das „Lauf gegen Rechts“-Orga-Team
