extends ../guestLayout.pug

block content
  .row
    table
      thead
        tr
          th Startnummer
          th Vorname
          th Nachname
          th Team name
      tbody
  script.
    $(document).ready(function () {
      $('table').DataTable({
        language: dataTableLanguage, 
        ajax: '/api/participants',
        columns: [
          { data: 'start_number' },
          { data: 'firstname' },
          { data: 'lastname' },
          { data: 'team' },
        ],
        serverSide: true,
      });
    });
