extends ../layout

block content
    h1 Registrierte Teilnehmer
    ul
        each p in participants
            if p.team 
                li= p.firstname +' '+ p.lastname +' (Team: '+p.team+' )'
            else
                li= p.firstname +' '+ p.lastname
