extends ../guestLayout.pug

block content
  .row
    table
      thead
        tr
          th Startnummer
          th Vorname
          th Nachname
          th Team name
      tbody
  script(src='/javascript/searchAndSort2.js')
