block variables
doctype html
html
  head
    title= title
    include partials/head
  body
    .outer-container
      .container
        if (node_env) != "production"
          .row
            h6.warning.centered DIES IST NUR EINE TESTUMGEBUNG. REGISTRIERUNGEN FUER 2017 SIND NOCH NICHT MOEGLICH
        .row
          a.three.columns.no-link(href='/admin')
            h5.centered Information
          a.three.columns.no-link(href='/admin/participants')#edit
            h5.centered Teilnehmer*innen
          a.three.columns.no-link(href='/admin/after')#after
            h5.centered Nach dem Start
          a.three.columns.no-link(href='/logout')#logout
            h5.centered Logout
        .row
          .offset-by-four.four.columns
            object.logo(data='/images/logo.svg', type='image/svg+xml')
      .outer-content-container
        .container
          block content
      include partials/footer
