block variables
doctype html
html
  head
    title= title
    include partials/head
  body
    .outer-container
      .container
        if (node_env) != "production"
          .row
            h6.warning.centered DIES IST NUR EINE TESTUMGEBUNG. REGISTRIERUNGEN NICHT MOEGLICH
        .row
          a#registration.three.columns.no-link(href='/registration')
            h5.centered Anmeldung
          a#registration.three.columns.no-link(href='/results')
            h5.centered Ergebnisse
          a.three.columns.no-link(href='/participants')
            h5.centered Teilnehmer*innen
        .row
          .offset-by-four.four.columns
            object.logo(data='/images/logo.svg', type='image/svg+xml')
      .outer-content-container
        .container
          block content
      include partials/footer
