extends layout

block content
  h1= title

  a#registration(href='/registration') Registrierung
  span |
  a(href='/participants') Teilnehmerliste
  span |
  a(href='/payment_validation') [admin] Überprüfung der Zahlungseingänge
