extends guestLayout.pug

block content
  h3 Der 7. Lauf gegen Rechts findet am Sonntag, den 27. Mai 2018, wie gewohnt an der Außenalster statt. Die Online-Anmeldung ist ab dem 28. Januar 2018 möglich.
