extends guestLayout.pug

block content
  h3 Der 6. Lauf gegen Rechts findet am Sonntag, den 28. Mai 2017, wie gewohnt an der Außenalster statt. Die Online-Anmeldung ist ab dem 29. Januar 2017 möglich.
