extends layout

block content
  h1= title
  .row
    .four.columns
      a#registration.button(href='/registration') Registrierung
    .four.columns
      a.button(href='/participants') Teilnehmerliste
    .four.columns
      a#adminPage.button(href='/admin') Admin-Bereich
