doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/css/skeleton.css')
  body
    .container
      if (node_env) != "production"
        .row
          h6(style='border:1px solid red; text-align: center;') DIES IST NUR EINE TESTUMGEBUNG. REGISTRIERUNGEN FUER 2016 SIND NOCH NICHT MOEGLICH
      block content
