doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/css/skeleton.css')
  body
    if (node_env) != "production"
    .container
      p DIES IST NUR EINE TESTUMGEBUNG. REGISTRIERUNGEN FUER 2016 SIND NOCH NICHT MOEGLICH
      block content
