doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/css/skeleton.css')
  body
    .container
      block content