extends layout

block content
    h2 Login
    form#loginForm(method='POST', action='/login')
        .name
            .item
                label(for='username') Benutzername:
                input#username(type='text', name='username', required=true)
            .item
                label(for='password') Passwort:
                input#password(type='text', name='password', required=true)
        button#submit(type='submit') anmelden
