extends layout.pug

block content
  h2 Login
  form#loginForm(method='POST', action='/login')
    input(type='hidden', name='_csrf', value=_csrf)
    .row
      .three.columns
        label(for='username') Benutzername:
        input#username.u-full-width(type='text', name='username', required=true)
      .three.columns
        label(for='password') Passwort:
        input#password.u-full-width(type='password', name='password', required=true)
    button#submit.button-primary(type='submit') anmelden

  if error
  .error
    p #{error}
