.no-link {
    text-decoration: none;
}

hr.navigation {
    position: relative;
    top: -10px;
}

object.logo {
    width: 100%;
    max-width: 15em;
    height: auto;
    margin: auto;
    display: block;
}

img.tshirt {
    width: 175px;
}

.hidden {
    opacity: 0;
}

.outer {
  width: 100%;
}

.center {
    padding: 10px;
    position: relative;
    left: 5%;
}

.centered {
    text-align: center;
}

.black {
    color: #FFF;
    background-color: black;
    border-color: black;
}

.slim {
    line-height: 0;
    margin: 0;
}

.primary {
    margin-top: 20px;
}

.icon {
    font-size: 25px;
}

button#confirm-registration{
    border: 1px solid green;
    background-color: #2E8B57;
}

button#confirm-registration:hover{
    border: 1px solid green;
    background-color: #008080;
}

table button {
    margin: 0;
}

table .button {
    margin: 0;
}

html {
  height: 100%;
  width: 100%
}

body {
  height: 100%;
  width: 100%
}

.content {
  margin-top: 1em;
  flex-grow: 2;
}

.outer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}


.outer-content-container {
  padding-top: 2em;
  flex-grow: 2;
  width: 100%;
  background-color: #f8f8f8;
}

.outer-footer-container {
  bottom: 0;
  width: 100%;
  background-color: black;
  position: relative;
}

.footer {
    color: white;
    text-align: center;
}

.warning {
    color: #FFF;
    background-color: rgb(212, 64, 52);
    border-color: rgb(212, 64, 52);
}

a {
    color: rgb(212, 64, 52);
}

a:hover {
    color: rgb(200, 0, 39);
}

a.current {
    color: black;
}

.padding {
    padding: 5px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid rgb(212, 64, 52);
    outline: 0;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: rgb(212, 64, 52);
    border-color: rgb(212, 64, 52);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: rgb(200, 0, 39);
    border-color: rgb(200, 0, 39);
}
