extends ../guestLayout.pug

block content
    h4.black.centered Herzlichen Gl&uumlckwunsch allen Teilnehmer*innen
    h3 Platz 1-3 (w)
    .span Mehr
    h3 Platz 1-3 (m)
    .span Mehr
      
    
    
