extends ../layout

block content
  h1 Angaben ändern
  form#editParticipantForm(method='POST', action='/editparticipant')
  
    include ../partials/editParticipantForm
    .row
      .six.columns
        label Zahlungsstatus:
        p#paymentStatus #{participant.has_payed ? 'Zahlung eingegangen' : 'Zahlung noch nicht eingegangen' }

    input(type='hidden', name='participantid', value='#{participantid}')
    input(type='hidden', name='_csrf', value=_csrf)

    button#submit.button-primary(type='submit') Änderung speichern
