extends ../layout

block content
    h1 Registrierung
    form#registrationForm(method='POST', action='/registration')
        .row
            .four.columns
                label(for='firstname') Vorname:
                input#firstname.u-full-width(type='text', name='firstname', required=true)
            .four.columns
                label(for='lastname') Nachname:
                input#lastname.u-full-width(type='text', name='lastname', required=true)
        .row
            .four.columns
                label(for='birthyear') Geburtsjahr:
                input#birthyear.u-full-width(type='number', name='birthyear', required=true)
            .four.columns
                label(for='email') Email:
                input#email.u-full-width(type='email', name='email', required=true)
        .row
            .five.columns
                label(for='category') In welcher Ergebnisliste möchtest du erscheinen?
            .three.columns
                select#category.u-full-width(name='category')
                    option(value='m') m
                    option(value='f') f

        .row
            .three.columns
                label(for='team') Name des Teams:
            .five.columns
                input#team.u-full-width(type='text', name='team')
        .row
            .six.columns
                label(for='publiclyVisible') Möchtest du in der Liste der Teilnehmer aufgelistet werden:
                    input#publiclyVisible(type='checkbox', style="position: relative; right: -10px;" value='Yes', name='publiclyVisible')
        .row
            .three.columns
                label(for='shirt') Laufshirt gewünscht:
                    input#shirt(type='checkbox', style="position: relative; right: -10px;" value='Yes', name='shirt')
        .row
            .two.columns
                label(for='model') Model:
                select#model.u-full-width(name='model')
                    option(value='Normal fit') Normal fit
                    option(value='Slim fit') Slim fit
            .two.columns
                label(for='size') Size:
                select#size.u-full-width(name='size')
                    option(value='XS') XS
                    option(value='S') S
                    option(value='M') M
                    option(value='L') L
                    option(value='XL') XL


        button#submit.button-primary(type='submit') Absenden
