extends ../guestLayout.pug

block content
  if registrationClosed
    h4.black.centered Die online Anmeldung ist ab 22.5.16 geschlossen.
    p#registration-closed-message Nachmeldungen sind möglich:
    ul 
      li Millertorstadion, am Samstag 28.5. von 13 - 18 Uhr Südvorplatz vom Ticketing
      li am Lauftag 29.5. ab 8 Uhr Grillwiese Schwanenwiek.
    p Nachmelder_innen erhalten mit Startnummer einen Code mit dem sie sich nachträglich online Urkunde und persönliche Laufzeit runterladen bzw. ansehen können
  else
    h4.black.centered Melde dich hier zum Lauf an
    form#registrationForm(method='POST', action='/registration')
      input(type='hidden', name='_csrf', value=_csrf)
      .row
        p.slim.u-pull-right * Pflichtfelder
      .row
        .six.columns.padding
          label(for='firstname') Vorname
          input#firstname.u-full-width(type='text', name='firstname', autofocus)
        .six.columns.padding
          label(for='lastname') Nachname
          input#lastname.u-full-width(type='text', name='lastname')
      .row
        .twelve.columns.padding
          label(for='email') Email
          input#email.u-full-width(type='email', name='email')
      .row
        .twelve.columns.padding
          label(for='birthyear') Geburtsjahr
          input#birthyear.u-full-width(type='number', name='birthyear')
      .row
        .twelve.columns.padding
          label(for='team') Name des Teams:
          input#team.u-full-width(type='text', name='team')
      .row
        .twelve.columns.padding
          label(for='category') In welcher Ergebnisliste möchtest du erscheinen?
          select#category.u-full-width(name='category')
            option(value='m') m
            option(value='f') f
      .row
        .twelve.columns.padding
          label(for='visibility') Möchtest du in der Liste der Teilnehmer*innen aufgelistet werden*
          select#visibility.u-full-width(name='visibility', required=true)
            option(value='yes') Ja
            option(value='no') Nein
      .row
        .twelve.columns.padding
          label(for='visibility') Wie schnell bist du unterwegs?
          select#goal.u-full-width(name='goal', required=true)
            option(value='moderate') Ich laufe gerne und regelmäßig / Die Zeit ist mir nicht so wichtig.
            option(value='relaxed') Ich möchte gerne mitlaufen, aber ohne Stress in ruhigem Tempo.
            option(value='ambitious') Ich möchte schnell und sportlich laufen / Die Zeit ist mir wichtig.
      .row
        .twelve.columns.padding
          label(for='discount') Welchen Preis möchtest du zahlen
          select#discount.u-full-width(name='discount', required=true)
            option(value='no') Ich zahle den vollen Preis (10 Euro)
            option(value='yes') Ich möchte den ermässigten Preis zahlen (5 Euro)
            option(value='free') Ich habe einen Coupon (0 Euro)

      .row#coupon-input(style='display: none')
        .twelve.columns.padding
          label(for='couponcode') Coupon Code*:
            input#couponcode.u-full-width(type='text', name='couponcode')

      button#submit.primary.button-primary.u-full-width.pace(type='submit') Absenden

    script(type='text/javascript').
      
      var displayCouponcodeInput = function () {
        var couponcode = document.getElementById('couponcode');
        if (discountSelection.options[discountSelection.selectedIndex].value === 'free') {
          couponCodeInput.style.display = 'block';
          couponcode.required = true;
        } else {
          couponcode.required = false;
          couponCodeInput.style.display = 'none';
        }
      };

      var couponCodeInput = document.getElementById('coupon-input');
      var discountSelection = document.getElementById('discount');
      discountSelection.onchange = displayCouponcodeInput;
      window.onload = displayCouponcodeInput;
