extends ../layout

block content
    .thanks
        h3 Hey #{name}!
        h5 Danke f端r deine Registrierung.
          |  Bitte 端berweise den Betrag von #{amount} innerhalb der naechsten zwei Wochen auf folgendes Konto:
          pre Eine nette Bank
           | IBAN 0234092093
           | BIC  111222122
           | Betreff: LGR: #{token}
          |  Sobald die Geb端hr beglichen wird,
          |  wirst du in der Teilnehmerliste hinzugef端gt. 
