extends ../layout

block content
    .thanks
        h3 Hey #{name}!
        h5 Danke f端r deine Registrierung.
          |  In K端rze erreicht dich eine E-Mail mit weiteren Informationen. Sobald die Geb端hr beglichen wird,
          |  wirst du zu der Teilnehmerliste hinzugef端gt. Diese kann #[a(href='/participants') hier] angesehen werden.